{% extends 'base.html' %} 
{% from 'bootstrap5/form.html' import render_field  %}

{% block title %}Account{% endblock %} 



{% block content %}
<div
  class="container d-flex flex-column justify-content-center align-items-center"
>
  <h1 class="text-center page-header">Account</h1>
  <p class="text-center">Manage your account settings</p>
  <form method="POST" action="{{ url_for('auth.account') }}" class="col-5">
    {{ form.csrf_token() }}
    <div class="form-group">
      {{ render_field(form.old_password, class="form-control w-100 form-control-lg" ) }}
      
    </div>
    <div class="form-group">
      {{ render_field(form.password, class="form-control w-100 form-control-lg" ) }}
      
    </div>
    <div class="form-group">
      {{ render_field(form.confirm_password, class="form-control w-100 form-control-lg" ) }}
     
    </div>
    {{ render_field(form.submit, class="btn btn-primary btn-block" ) }}
  
  </form>
</div>
{% endblock %}
