{% extends 'base.html' %} {% block title %}Account{% endblock %} {% block navbar
%}
<nav class="navbar navbar-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item"></li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('main.login') }}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main.register') }}">Register</a>
      </li>
    </ul>
  </div>
  <button
    class="navbar-toggler ml-auto border-0"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
{% endblock %} {% block content %}
<div
  class="container d-flex flex-column justify-content-center align-items-center"
>
  <h1 class="text-center page-header">Account</h1>
  <p class="text-center">Manage your account settings</p>
  <form method="POST" action="{{ url_for('main.account') }}" class="col-5">
    <div class="form-group">
      <label for="old_password">Old Password:</label>
      <input
        type="password"
        name="old_password"
        id="old_password"
        required
        class="form-control w-100 form-control-lg"
      />
    </div>
    <div class="form-group">
      <label for="new_password">New Password:</label>
      <input
        type="password"
        name="new_password"
        id="new_password"
        required
        class="form-control w-100 form-control-lg"
      />
    </div>
    <div class="form-group">
      <label for="confirm_password">Confirm Password:</label>
      <input
        type="password"
        name="confirm_password"
        id="confirm_password"
        required
        class="form-control w-100 form-control-lg"
      />
    </div>
    <button type="submit" class="btn btn-primary btn-block">
      Change Password
    </button>
  </form>
</div>
{% endblock %}
