{% extends 'base.html' %} {% block content %}
<h1>Welcome to the Dashboard</h1>
<p>Here you can create a new quiz:</p>
<a class="btn btn-primary" href="{{ url_for('main.quiz_view') }}"
  >Create Quiz</a
>

<div class="row mt-4">
  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Quiz 1</h5>
        <p class="card-text">Date: May 13, 2023</p>
        <button class="btn btn-primary">Play</button>
        <div class="form-check form-switch mt-3">
          <input
            class="form-check-input"
            type="checkbox"
            id="privacy-toggle-1"
          />
          <label class="form-check-label" for="privacy-toggle-1">Private</label>
        </div>
        <button class="btn btn-secondary mt-2">Share</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Quiz 2</h5>
        <p class="card-text">Date: May 13, 2023</p>
        <button class="btn btn-primary">Play</button>
        <div class="form-check form-switch mt-3">
          <input
            class="form-check-input"
            type="checkbox"
            id="privacy-toggle-2"
          />
          <label class="form-check-label" for="privacy-toggle-2">Private</label>
        </div>
        <button class="btn btn-secondary mt-2">Share</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Quiz 3</h5>
        <p class="card-text">Date: May 13, 2023</p>
        <button class="btn btn-primary">Play</button>
        <div class="form-check form-switch mt-3">
          <input
            class="form-check-input"
            type="checkbox"
            id="privacy-toggle-3"
          />
          <label class="form-check-label" for="privacy-toggle-3">Private</label>
        </div>
        <button class="btn btn-secondary mt-2">Share</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
