{% extends 'base.html' %} {% block content %}
<div
  class="container d-flex flex-column justify-content-center align-items-center"
>
  <h1 class="mt-5">Quiz</h1>
  <h2>Quiz Number: {{ quiz.quiz_number }}</h2>
  <h2>User ID: {{ quiz.user_id }}</h2>

  <form action="/submit-quiz" method="POST">
    {% for question in questions %}
    <h3>Question {{ question.question_number }}</h3>
    <p>{{ question.question_text }}</p>
    {% set current_question_id = question.id %} {% for answer in answer_options
    %} {% if answer.question_id == current_question_id %}
    <label class="radio-label">
      <input
        type="radio"
        name="answer_{{ question.id }}"
        value="{{ answer.answer_letter }}"
      />
      {{ answer.answer_letter }}. {{ answer.answer_text }}
    </label>
    <br />
    <!-- Add a line break after each answer option -->
    {% endif %} {% endfor %} {% endfor %}

    <button class="btn btn-primary" type="submit">Submit Quiz</button>
  </form>
</div>
{% endblock %}
