{% extends 'base.html' %} 
{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center">
  <h1 class="mt-5"><b>Quiz generator</b></h1>
  <br />
  <p class="text-center">
    Enter the keywords or describing sentence about the quiz below. For example
    <b>"Music of the 80s, 2 questions"</b>. If the Number of questions is not
    specified, 10 questions will be generated.
  </p>
  <div id="quiz-button" class="input-group justify-content-center mb-3 d-none">
    <button id="generate-quiz-button" class="btn btn-primary">
      Generate the quiz!
    </button>
    <div class="input-group justify-content-center mb-3">
      <p class="text-center">
      </br>After pushing Generate the quiz! button, <b>please wait</b> until you are redirected to Dashboard! </br></br>If you are not happy with provided quiz, please <a href=".">Refresh</a> the page and try again.
      </p>
    </div>
  </div>
  <div id="list-group" class="list-group w-auto"></div>
</br>


  <div class="input-group mb-3">
    <input type="text" class="form-control" id="chat-input" />
    <div class="input-group-append">
      <button id="gpt-button" class="btn btn-primary">Enter prompt</button>
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" /> <!-- CSRF token -->
  </div>
  <p class="text-center">
    When entering a prompt be patient. It can take several minutes for the quiz
    to be generated.
  </p>
</div>
{% endblock %} 
{% block footer %}

<script src="{{ url_for('static', filename='js/quiz.js') }}"></script>
<script>
  $(document).ready(function() {
    $('#gpt-button').click(function(event) {
      event.preventDefault();
      var prompt = $('#chat-input').val();
      var csrfToken = $('input[name="csrf_token"]').val(); // Retrieve the CSRF token
  
      $.ajax({
        url: '{{ url_for("main.generate_quiz") }}',
        type: 'POST',
        headers: {
          'X-CSRFToken': csrfToken // Set the CSRF token as a header
        },
        data: { prompt: prompt },
        success: function(response) {
          // Handle the response
          $('#quiz-button').removeClass('d-none'); // Show the quiz button
        },
        error: function(error) {
          // Handle the error
        }
      });
    });
  });
  
</script>
{% endblock %}
