{% extends 'base.html' %} {% block content %}

<div class="container">
  <h2>
    Quiz Scores for
    <b
      >{% if quiz.quiz_name %} {{ quiz.quiz_name }} {% else %} Quiz {{
      quiz.quiz_number }} {% endif %}</b
    >
  </h2>
  <!-- Updated line to display quiz_name -->
  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {% for username, score_percentage in user_scores %}
      <tr>
        <td>{{ username }}</td>
        <td>{{ score_percentage|int }} %</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
